.dark-mode{
    background-color:  #1a1919;
    color: white;
    height: 100%;
    transition: background-color 0.25s ease-in-out;
    width: 3rem;
}

.light-mode {
    background-color: white;
    color: #333;
    height: 100%;
    transition: background-color 0.25s ease-in-out;
    width: 3rem;
  }